TWILIO_ACCOUNT_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_AUTH_TOKEN=

APP_SECRET=dopaskdopsakdopsak

DB_DIALECT=postgres
DB_HOST=localhost
DB_USER=postgres
DB_PASS=
DB_NAME=tonvee

REDIS_HOST=127.0.0.1
REDIS_PORT=6379


